/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#alert {
    width: 600px;
    z-index: 1;
    background-color: #fff;
    border: 1px solid
    margin-top: -1px;
    padding-top: 20px;
    padding-left: 36px;
    padding-right: 36px;

    .close {
        opacity: 1;
        filter: none;
    }

    .icon {
        vertical-align: -0.4em;
    }

    .info {
        margin: 0px;
        line-height: 100%;
        padding-left: 10px;
        font-size: 15px;
        font-weight: bold;
    }
   

    .alert-success {
        border: 1px solid #c8d5b6;
        background-color: #f1f7e8;
        background-position: top;
        background-repeat: repeat-x;
    }

    .alert-error {
        border: 1px solid #f8cccb;
        background-color: #fef2ef;
        background-position: top;
        background-repeat: repeat-x;
    }
}

#title {
}

#logout-btn {
    float:right;
    margin-right: 700px;
}
