// Place all the styles related to the Matters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#matter_index {
    margin-left: 30px;

    .search_area {
        margin-top: 10px;
        border: 2px solid;
        padding: 10px;
        width: 600px;
    }
    .list_area {
        margin-top: 10px;

        th {
            height: auto;
            border: 1px solid;
            background-color: #778899;
        }

        td {
            width: auto;
            text-align: center;
            border: 1px solid;
        }
    }

    .download-area {
        margin-top: 10px;
        font-size: 15px;
    }
}

#matter_show {
    margin-left: 30px;

    .edit-btn {
        margin-bottom: 10px;
    }

    .user_area {
        td {
            width: 300px;
            text-align: left;
            border: 1px solid;
        }

        .title {
            text-align: center;
            width:100px;
        }
    }
}

#new-matter {
    margin-left: 30px;
}

#edit-matter {
    margin-left: 30px;
}
