// Place all the styles related to the menus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#menus {
    margin-left: 30px;
    font-size: 20px;
    line-height: 30px;
}
