<%= render 'layouts/alerts', notice: notice, alert: alert %>

<div id="menus">
  <h2>メニュー</h2>
  <%= link_to('利用者管理', users_path) %><br />
  <%= link_to('質問管理', questions_path) %><br />
  <br />
</div>
