<div id="edit-status">
  <h2>ステータス変更</h2>
  <div id="form_area">
    <%= form_for(@question, url: question_path(@question), method: :patch) do |f| %>
      <table>
        <tbody>
          <tr>
            <td>ステータス</td>
            <td><%= f.select(:status, options_for_select(status_select_from)) %></td>
          </tr>
        </tbody>
      </table>
      <div class="action">
        <%= link_to('更新しない', question_path(@question), class: 'btn') %>
        <%= submit_tag('更新', class: 'btn', data: { confirm: "入力した内容を更新します。\nよろしいですか？" }) %>
      </div>
    <% end %>
  </div>
</div>
